:root{
--blue: #2196F3;
--black: #000000;
--white: #FFFFFF;
--not-white:  #f5f4fa;
--grey-dark: #2F303A;

--font-color-main: #212121;
--font-color-second: #757575;
--background-color-main: #FFFFFF;
--background-color-secondary: #2F303A;
--hover-color: #2196F3;
--figure-border: #EEEEEE;
--fotter-links: #ffffff99;
--icon-grey: #AFB1B8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul {
padding: 0;
margin: 0 auto;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color-main);
  background-color: var(--background-color-main);
}

.wrapper{
  width: 100%;
  background-color: var(--background-color-main);
}
.header{
  border-bottom: 1px solid #ECECEC;
 }

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  }

.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-section{
  margin-right: 93px;
}

  .logo{
    color: var(--blue);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo-dark{
    color: var(--black);
  }
  .logo-white{
    color: var(--white);
  }  

.menu-list{
display: flex;
list-style: none;
text-align: justify; 
gap: 46px;
}

.logo-and-menu {
  display: flex;
  align-items: center;
}


.nav-item{
  color: var(--font-color-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.links {
  text-decoration: none;
}
.links li {
  text-decoration: none;
}
.links-contact {
  color: var(--font-color-second);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.icon-spacing {
  margin-right: 10px;
  padding: 0;
  background-size: cover;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.icon{
  cursor: pointer;
}

.icon:hover,
.icon:focus{
  fill: var(--hover-color);
  cursor: pointer;
}



.margin-right50-header{
  margin-right: 50px;
}

.active-page {
  color: var(--blue);
  }

.links:hover,
.links:focus,
.links-contact:hover,
.links-contact:focus {
color: var(--hover-color)
}

.btn{
background-color: var(--not-white);
border-radius: 4px;
border: none;
cursor: pointer;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}

.social-links{
display: flex;
justify-content: center;
padding-top: 16px;
}
.social-links-svg{
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--icon-grey);

}

.social-links-svg:hover,
.social-links-svg:focus{
  background-color: var(--hover-color);
  fill: var(--white);
}


.btn-portfolio{
  padding: 6px 22px 6px 22px;
}

.btn-portfolio:hover,
.btn-portfolio:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:hover,btn:focus {
background-color: var(--hover-color);
color: var(--white);
cursor: pointer;
}

.main-box{
  background-color: var(--background-color-secondary);
}
.main-box-background-image{
  margin: auto;
  max-width: 1600px;
  background-color: var(--background-color-secondary);
  background-image: linear-gradient( 0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url(https://raw.githubusercontent.com/MariuszR87/goit-markup-hw-04/master/images/backgroundimage.jpg);
  background-size: cover;
}

.main-box-container{
  text-align: center;
  padding: 200px;
  height: 600px;
  height: auto;

}

.main-box-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
  border-style: none;
  padding: 10px 42px;
}

.main-box-btn:hover, .main-box-btn:focus{
  cursor: pointer;
  /* dodatkowo */
  background-color: darkcyan;
}
/* LISTA LOREM IPSUM */
.list {
  list-style: none;
  display: flex;
}
.list-one-line{
  justify-content: center;
  display: flex;
  column-gap: 30px;
}
.list-one-line-6element{
  justify-content: center;
  display: flex;
  column-gap: 30px;
  box-sizing: border-box;
  
}

.list-item-one-line-6element{
 
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  fill: var(--icon-grey);
  cursor: pointer;
}

.list-item-one-line-6element:hover,
.list-item-one-line-6element:focus{
  fill: var(--hover-color);
  border-color: var(--hover-color);
}

.index-not-white-background{
  background-color: var(--not-white);}



/* portfolio */
.filter-btn{
  padding: 0px 0px 50px 0px;
  gap: 8px;
  justify-content: center;
  display: flex;
  list-style: none;
  padding-inline-start: 40px;
}

.btn-porfolio{
  padding: 6px 22px 6px 22px;
}

.class-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0 auto;
  
  width: 696px;
  }

.class-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.class-h3 {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
letter-spacing: 0.03em;
font-size: 14px;
margin-bottom: 10px;
}

.class-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: left;
  letter-spacing: 0.03em;
}

.class-h4-index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-paragraph{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--font-color-second)
}

.section-not-white{
  background-color: var(--not-white);
  padding-bottom: 94px;
  padding-top: 94px;
}

.index-figure{
  background-color: var(--background-color-main);
  border: 1px solid var(--figure-border);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  padding-right: 0;
  margin-right: 0;
  box-sizing: border-box;
  max-width: 270px;
}

.index-figure p{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--font-color-second)
}

.portfolio-figure{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 370px;
  cursor: pointer;
}
.figcaption-border{
 margin-top: 0;
  border-right: 1px solid var(--figure-border);
  border-bottom: 1px solid var(--figure-border);
  border-left: 1px solid var(--figure-border);
}

.portfolio-card{
  box-sizing: border-box;
  margin: auto;
}

.portfolio-figure figcaption{
padding:20px 24px;

}

.portfolio-card h4{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card p{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color:var(--font-color-second)
}

.card-set{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  column-gap: 30px;
  max-width: 1170px;
  box-sizing: border-box;

}

.li-item{
  box-sizing: border-box;
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.li-item-shadow:hover,
.li-item-shadow:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
} 

 /* FOOTER */
.footer{
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress{
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-links-contact {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fotter-links);
  margin-top: 9px;
}

.fotter-spacing {
  display: flex;
  align-items: center;
}

.fotter-margin70{
  margin-right: 70px;
}

.social-fotter-links-svg{
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--white);
  background-color: rgba(255, 255, 255, 0.1);

}

.social-fotter-links-svg:hover,
.social-fotter-links-svg:focus{
  background-color: var(--hover-color);
  fill: var(--white);
}